
body{
    margin: 0px;
    padding: 0px;
}

.type1{
    width: 30%;
    display: block;
    margin: 0px auto;
}

nav a,
.assignments a,
footer a {
    text-decoration:none;
    color:rgb(62, 84, 172);
}

nav a:link,
nav a:visited {
    line-height: 2;
}

nav a:hover,
nav a:active {
    text-decoration: rgb(62, 84, 172) 4px;
    text-underline-offset: 8px;
    color:rgb(0, 0, 0);
}

nav a:hover::before {
    content: "\1f436" ;
}
.assignment a:link,
.assignments a:visited {
    line-height: 1.8;
}

.assignments a:hover::before{
    content: "\1f436";
}


.email a:hover::before{
    content: "\1f436";
}

.top a:hover::before{
    content: "\1f436";
}

nav a{
    text-decoration:none;
    color:rgb(0, 0, 0);
}

.top a,
footer a {
    text-decoration:none;
    color:rgb(62, 84, 172);
}

h1 {
    font-size: 2.50rem;
}
h2 {font-size: 2rem;
}
h3 {font-size: 1.5rem;
}

h1,
h2,
h3 {
    color: rgb(62, 84, 172);
    font-family:Arial, Helvetica, sans-serif;
    text-decoration: underline wavy rgba(62, 84, 172) 6px;
    text-underline-offset: 14px;
    animation: fade-in 2s ease-out;
}

html {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.25rem;
    line-height: 1.2;
    color: #1b1c1d;
}

h2 {
    left: 2rem;
    position: relative;
}

ul {
    left: 1rem;
    position: relative;
}

nav {
    border: 2px solid;
    background-color:rgb(170, 185, 247);
    position: fixed;
    right:3rem;
    width:190px;
    transition: all 2s;
    
    
}

p {
    width: 70%;
    position: relative;
    left: 2rem;
}

h3 {
    position: relative;
    right: 1rem;
}

section {
position: relative;
right: 2rem;
}

footer {
position: relative;
right: 3rem;
}

nav:hover {
    background-color:rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: all 2s ease;
    border: 2px solid;
}




@keyframes fade-in {

    0% {
        opacity: 0;
    }

    100% {
        opcaity: 1;
    }
}